* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "segoe ui";
    background-color: #0d1117;
    color: #c9d1d9;
    line-height: 1.6;
}

.accent {
    color: #3a7ce0;
}

header {
    background-color: rgba(26,28,32,0.9);
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #3a7ce0;
}

header h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav a {
    font-size: 0.9rem;
    color: #8b949e;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff
}

/* About me */
#about-me {
    background-color: #0d1117;
    padding: 6rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    min-height: 70vh;
}

.hero-kiri {
    max-width: 550px;
}

.hero-kiri h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

/* Tombol */
.hero-tombol {
    display: flex;
    gap: 1rem
}

.btn-primary {
    padding: 0.75rem 1.8rem;
    background-color: #3a7ce0;
    color:#ffffff;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 
    background-color 0.3s,
    transform 0.2s;
}

.btn-primary:hover {
    background-color: #3a7ce0;
    transform: translateY(-2px);
}

.btn-outline {
    padding: 0.75rem 1.8rem;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #30363d;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transform: 
    border-color 0.3s,
    transform 0.2s;
}

.btn-outline:hover {
    border-color: #3a7ce0;
    transform: translateY(-2px);
}

.hero-img-wrapper {
    position: relative;
}

.hero-img-wrapper::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    right: 12px;
    bottom: 12px;
    border: 2px solid #3a7ce0;
    border-radius: 50%;
    opacity: 0.4;
}

.hero-kanan img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #21262d;
    transition: border-color 0.3s;
}

#project {
    background-color: #161b22;
    padding: 5rem 4.5rem;
    text-align: center;    
}

#project h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-img-container {
  position: relative;
  width: 100%;
  height: 200px; 
  overflow: hidden;
  background-color: #161b22;
}

.project-screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top; 
  transition: transform 0.5s ease;
}

.project-card:hover .project-screenshot {
  transform: scale(1.1); 
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 124, 224, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.btn-view {
  padding: 10px 20px;
  background: #ffffff;
  color: #0d1117;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.project-body {
  padding: 1.5rem;
}

.project-body h3 {
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.project-body p {
  font-size: 0.9rem;
  color: #8b949e;
  margin-bottom: 1rem;
}

.project-tags span {
  background: rgba(58, 124, 224, 0.1);
  color: #3a7ce0;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
  border: 1px solid rgba(58, 124, 224, 0.3);
}

#Education, #Experience {
    padding: 5rem 10%;
    background-color: #0d1117; 
}

.timeline-container {
    max-width: 850px;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.timeline-item {
    background-color: #161b22; 
    border-left: 4px solid #3a7ce0; 
    padding: 1.5rem;
    border-radius: 0 12px 12px 0;
    transition: transform 0.3s ease;
    text-align: left;
}

.timeline-item:hover {
    transform: translateX(10px); 
}

.timeline-item h3 {
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.timeline-item .subtitle {
    color: #3a7ce0;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.timeline-item ul {
    margin-top: 10px;
    padding-left: 1.2rem;
    color: #8b949e;
}

.compact-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
}

@media (max-width: 768px) {
    .compact-list {
        grid-template-columns: 1fr; 
    }
}